.parlourimage{
    padding-left: "100px";
    padding-top: "38px";
}
.icontext {
     color: white;
     margin:0;
     padding: 0;
}
.imageicon{
    background-color: aqua;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.rightsection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headermain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}