.parlourimage{
    padding-left: "100px";
    padding-top: "38px";
}
.icontext {
     color: white;
     margin:0;
     padding: 0;
}
.imageicon{
    background-color: rgba(52, 57, 72, 1);
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.rightsection{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.Navmain{
    background-color: rgba(36, 40, 52, 1);
}