/* MyComponent.css */
.col1 {
  /* background-color: red; */
  /* width: 290px; */
}

.col2 {
  /* width: 100%; */
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.maincontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.businformcontainer{
  background-color: rgba(26, 30, 41, 1);
  width: 500px;
}
.formbusiformpass{
  border: none;
}
