.knowtext{
    background-color: rgba(36, 40, 52, 1);
}
.knowmaincontainer{
    background-color: rgba(36, 40, 52, 1);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.knowmaincontainer Text{
    color:white;
}
.knowboxes{
    background-color:rgba(36, 40, 52, 1) ;
    color:white ;
    
}
.knowcolumn{
    margin-bottom: 3.2;
}
.knowcard{
    border: none;
}
/* Background image of knowmore */
.Knowimage{
    height:46px;
    width:46px;
    background-color: red !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

